body{
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/flagged/photo-1593005510329-8a4035a7238f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8eWVsbG93JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
}

.nbar nav{
    padding: 20px 10px;
    background-color : black;
    border : 2px solid red;
    width : 100%;
    
}

.nbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;              /* arrange horizontally */
    justify-content: center;
      
}

.nbar ul li {
    margin: 20px 30px;
}

.nbar a{
    text-decoration: none;
    color: rgb(199, 8, 8);   
}


/*Order now page*/

.products {
    display: flex;               /* places child divs side by side */
    gap: 20px;                   /* spacing between cards */
    justify-content: center; /* align left, can use center/space-around */
    flex-wrap: wrap;        /* makes all cards equal height */
}

.fruit-name {
    display: block;   /* forces name below image */
    margin-top: 5px;
    font-size: 16px;
}

.container1, .container2, .container3 {    
    height : 200px;              /* both take equal width */
    min-width: 250px;            /* so they don’t shrink too much */
    font-family: Arial, sans-serif;
    padding: 10px;
}

.products input{
    padding : 10px;
    border: 2px solid black;
    transition: all ease 1s;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.products input:hover{
    background-color: red;
    color: yellow;
    box-shadow: 2px 2px 7px black, -2px -2px 7px black;
}


